/* importing fonts*/
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

/* Global CSS variables */
:root {
  /* custom properties*/
  --primary-color: #700996;
  --secondary: #361239;
  --bg: #915abc;
  --black: #000;
  --white: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  /* Resetting margin, padding, font-family, etc. */
  margin: 0;
  padding: 0;
  font-family: "Vidaloka", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

/* General Styling for HTML */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

/* changes the look of the scroll bar for visual appeal*/
html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5rem;
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  font-size: 4rem;
}

.heading span {
  color: var(--secondary);
  text-transform: uppercase;
}

/* setting the colors for the button classes html*/
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background: var(--primary-color);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary);
}

/* header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--bg);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header.scroll-down {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i {
  color: var(--secondary);
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--primary-color);
}

.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  color: var(--black);
  cursor: pointer;
}

.header .icons div:hover {
  color: var(--primary-color);
}

#menu-btn {
  display: none;
}

.hidden {
  display: none;
}

#login-btn{
  font-size: 1.7rem;
}

#user-name{
  font-size: 1.7rem;
}

#cart-btn {
  display: none;
}


/*header end*/

/* footer */

.footer {
  padding-top: 4rem;
  background: var(--bg);
  text-align: center;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  text-transform: capitalize;
  font-size: 2.2rem;
  color: var(--secondary);
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #444;
  padding: 0.5rem 0;
}

.footer .box-container .box .share {
  margin-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 10%;
  font-size: 1.7rem;
  background: var(--primary-color);
  color: var(--white);
  margin-right: 0.3rem;
}

.footer .box-container .box .share a:hover {
  background: var(--secondary);
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: var(--primary-color);
  padding: 0.5rem 0;
  display: block;
}

.footer .box-container .box .link:hover {
  color: var(--secondary);
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--primary-color);
  border-top: 0.1rem solid var(--secondary);
}

.footer .credit span {
  color: var(--secondary);
}

/* footer */

/* Back to top button*/
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(73, 122, 255, 0.8);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgb(73, 122, 255);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* back to top button end */

/*shopping cart*/

.cart-items-container {
  position: fixed;
  top: 0;
  right: -105%;
  width: 35rem;
  background: var(--white);
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  height: 100%;
  z-index: 1200;
  padding: 2rem;
  text-align: center;
}

.cart-items-container.active {
  right: 0;
  /*makes the background faded*/
  box-shadow: 0 0 100vmin 100vmax rgba(0, 0, 0, 0.8);
}

.cart-items-container #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
  color: var(--black);
}

.cart-items-container #close-form:hover {
  transform: rotate(90deg);
  color: var(--primary-color);
}

.cart-items-container .title {
  font-size: 2.5rem;
  color: var(--secondary);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.cart-items-container .cart-item {
  position: relative;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
}

.cart-items-container .cart-item .fa-times:hover {
  color: var(--primary-color);
}

.cart-items-container .cart-item img {
  height: 7rem;
}

.cart-items-container .cart-item .content h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.cart-items-container .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--primary-color);
  text-align: left;
}

/* cart end */

/* ----------- index page start ---------------*/

/* home page */

@keyframes fadeIn {
  0% {
    transform: translateY(-4rem) scale(1.1);
    opacity: 0;
  }
}

.home {
  padding: 0;
}

.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.home .slide .content {
  text-align: center;
  width: 70rem;
  width: 70rem;
}

.home .slide .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.2;
  padding: 2rem 0;
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.2s backwards;
}

.home .slide .content .btn {
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.4s backwards;
}

.home .swiper-slide-active .content {
  display: inline-block;
}

.swiper-button-next,
.swiper-button-prev {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  margin-left: 1.5rem;
  background: var(--white);
  color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: var(--primary-color);
  color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
}

/* home end */

/* banner */

.banner {
  background: url(../Images/BannerBG.webp);
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  justify-content: center;
}

.banner img {
  margin-top: 3rem; 
  height: auto;
  width: 60%;
  align-self: center;
  
}

/* banner end */

/* about */
.about {
  padding-bottom: 10rem;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image {
  flex: 1 1 40rem;
}

.about .row .image img {
  width: 100%;
  height: 100%;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  color: var(--black);
  font-size: 3.5rem;
  line-height: 1.5;
}

.about .row .content h3 span {
  color: var(--secondary);
}

.about .row .content p {
  font-size: 1.4rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

/* about end*/

/* product */

.product {
  background: var(--bg);
}

.product .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

.product .box-container .box {
  background: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.product .box-container .box .image {
  height: 35rem;
  width: 100%;
  padding: 1.1rem;
}

.product .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.product .box-container .box .content {
  padding: 2rem;
  padding-top: 0;
}

.product .box-container .box .content h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.product .box-container .box .content .stars {
  padding: 1rem 0;
}

.product .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--secondary);
}

.product .box-container .box .content .price {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--secondary);
  margin-right: 1rem;
}

/* product end */

/* gallery */
.gallery {
  padding-top: 10rem;
}

.gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.gallery .gallery-container .box {
  height: 40rem;
  position: relative;
  overflow: hidden;
}

.gallery .gallery-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .gallery-container .box:hover img {
  transform: scale(1.1);
}

.gallery .gallery-container .box .icons {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.gallery .gallery-container .box .icons i {
  font-size: 6rem;
  color: var(--white);
}

.gallery .gallery-container .box:hover .icons {
  display: flex;
}

/* gallery end*/

/* ----------- index page end ---------------*/

/* ----------- about page start ---------------*/

.aboutus {
  padding-bottom: 10rem;
}

.aboutus .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.aboutus .row .content {
  flex: 1 1 40rem;
  text-align: center;
}

.aboutus .row .content h3 {
  color: var(--black);
  font-size: 3.5rem;
  line-height: 1.5;
}

.aboutus .row .content h3 span {
  color: var(--primary-color);
}

.aboutus .row .content p {
  font-size: 2rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

.gmap {
  padding-bottom: 5rem;
  border-radius: 8px;
}

.gmap h1{
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.gmap .content a{
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  text-decoration: underline;
}
.gmap .content a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: translateY(-5px);
}
.gmap .content a:before {
  content: url('icon-location.svg'); /* Replace with your icon path */
  margin-right: 10px;
  display: inline-block;
}

.gmap .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


/* ----------- about page end ---------------*/

/* ----------- game page start ----------------*/

#BackToHome a {
  text-decoration: none;
  color: inherit; /* This ensures the link color matches the button text color */
}

/* ----------- game page start ----------------*/

/*------------ Review Page Start --------------*/

/* review */

.review {
  margin-bottom: 6rem;
}

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 3rem 2rem;
  background: var(--bg);
}

.review .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--black);
}

.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: var(--secondary);
}

.review .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #444;
  padding-top: 1rem;
}

/* customer Review */

.customer .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.customer .row .image {
  flex: 1 1 30rem;
}

.customer .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.customer .row form {
  flex: 1 1 50rem;
  padding: 5rem;
}

.customer .row form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.customer .row form .inputBox input,
.customer .row form textarea {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: var(--secondary);
  text-transform: capitalize;
  background: lightgrey;
  border-radius: 0.5rem;
  width: 49%;
}

.customer .row form .inputBox input:focus,
.customer .row form textarea:focus {
  border: 0.1rem solid var(--primary-color);
}

.customer .row form textarea {
  width: 100%;
  resize: none;
  height: 15rem;
}

/* customer Review */

/* review end */

/*------------ Review Page End --------------*/

/*------------ Product Page End --------------*/
.menu-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.menu-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: white;
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.menu-item h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 0.5rem 0;
}

.price {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
}

.info-button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 4px;
  color: var(--white);
}

.info-button:hover {
  background-color: var(--secondary);
}

.container {
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  transition: transform 0.5s;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 35% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  font-size: x-large;
}

.modal-content #modalTitle{
  color: var(--bg);
  padding-bottom: 2rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*------------ Product Page End --------------*/

/*------------ Music Page Start --------------*/


.music .heading{
  padding-top: 5rem;
}


.music .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.music .row .content {
  flex: 1 1 40rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.music .row .content h3 {
  color: var(--black);
  font-size: 3.5rem;
  line-height: 1.5;
}

.music .row .content h3 span {
  color: var(--primary-color);
}

.music .row .content p {
  font-size: 2rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

.music-footer{
  padding-top: 5rem;
}
/*------------ Music Page End --------------*/

/*media queries*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* media query for mobile*/
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: 0.1rem solid var(--secondary);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
  }

  .home .slide .content {
    width: 40rem;
  }

  .home .slide .content h3 {
    font-size: 4rem;
  }
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
  .gmap .content {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slide .content h3 {
    font-size: 3rem;
  }
}

/* add to cart hover */
.addCart{
  background-color: #f0f0f0;
  
}
.addCart:hover{
background-color: #1a1212;
color: #000;
transform: scale(1.1);

}

